:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: helvetica;
}
  
body {
    background: var(--bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
.list {
    list-style: square;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

.light-theme {
    --bg: linear-gradient(rgba(173, 216, 230, 0.438), rgba(0, 0, 255, 0.404),  rgba(0, 0, 139, 0.486));
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);

  }
  
.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
  }
  
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 25%;
    height: 25%;
    padding: 1%
  }

#msg{
    text-align: left;
    font-size: 18pt;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    color: dodgerblue;
}

.flex-container > div {
    background-color: #f1f1f136;
    width: 100%;
    margin: 0;
    text-align: center;
    line-height: 75px;
    font-size: 14px;
  }